<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games Comparator</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/manette.ico' %}">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9821338389.js" crossorigin="anonymous"></script>
</head>
<body>
  <video poster="{% static 'img/forest.png' %}" id="bgvid">
    <source src="{% static 'video/forest.mp4' %}" type="video/mp4"> </video>

  <!-- Use flexbox and items-center to center the header -->
  <div id="logo" class="flex items-center justify-center">
    <!-- Title -->
    <img class="mt-12" src="{% static 'img/GamesComparator.gif' %}">
  </div>

  <!-- Use flexbox and items-center to center the search bar -->
  <div class="flex items-center justify-center mt-10 mx-4">
    <!-- Use p-4 and rounded-full to add padding and round the corners of the input field -->
    <input id="searchbar" type="text" class="py-3 px-6 rounded-full text-3xl w-full lg:w-1/2 opacity-75" placeholder="Search the game...">
  </div>

  <!-- Display result of the research -->
  <div class="container mt-10 mx-auto p-4">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-5">
    
      <!-- Steam -->
      <div class="col-span-1">
        <div class="flex items-center justify-around flex-col w-auto h-full rounded-2xl bg-white opacity-50 hover:opacity-80 transition-opacity p-4 cursor-pointer">
          <img class="w-9/12" src="{% static 'img/Steam.png' %}"/>
          <p class="text-center text-4xl">Steam</p>
          <div id="Steam" class="mt-6 flex flex-col space-y-0.5 text-lg hidden">
            <img src="{% static 'img/error404.png' %}" class="max-h-32">
            <a><i class="fa-solid fa-tag"></i> Title : <span></span></a>
            <a><i class="fa-solid fa-thumbs-up"></i> Opinion : <span></span></a>
            <a><i class="fa-sharp fa-solid fa-money-bill"></i> Price : <span></span></a>
            <a><i class="fa-solid fa-location-dot"></i> Link : <span></span></a>
          </div>
        </div>
      </div>
      
      <!-- Instant Gaming -->
      <div class="col-span-1">
        <div class="flex items-center justify-around flex-col w-auto h-full rounded-2xl bg-white opacity-50 hover:opacity-80 transition-opacity p-4 cursor-pointer">
          <img class="w-9/12" src="{% static 'img/IG.png' %}"/>
          <p class="text-center text-4xl">Instant Gaming</p>
          <div id="IG" class="mt-6 flex flex-col space-y-0.5 text-lg hidden">
            <img src="{% static 'img/error404.png' %}" class="max-h-32">
            <a><i class="fa-solid fa-tag"></i> Title : <span></span></a>
            <a><i class="fa-solid fa-thumbs-up"></i> Opinion : <span></span></a>
            <a><i class="fa-sharp fa-solid fa-money-bill"></i> Price : <span></span></a>
            <a><i class="fa-solid fa-location-dot"></i> Link : <span></span></a>
          </div>
        </div>
      </div>

      <!-- G2A -->
      <div class="col-span-1">
        <div class="flex items-center justify-around flex-col w-auto h-full rounded-2xl bg-white opacity-50 hover:opacity-80 transition-opacity p-4 cursor-pointer">
          <img class="w-9/12" src="{% static 'img/G2A.png' %}"/>
          <p class="text-center text-4xl">G2A</p>
          <div id="G2A" class="mt-6 flex flex-col space-y-0.5 text-lg hidden">
            <img src="{% static 'img/error404.png' %}" class="max-h-32">
            <a><i class="fa-solid fa-tag"></i> Title : <span></span></a>
            <a><i class="fa-solid fa-thumbs-up"></i> Opinion : <span></span></a>
            <a><i class="fa-sharp fa-solid fa-money-bill"></i> Price : <span></span></a>
            <a><i class="fa-solid fa-location-dot"></i> Link : <span></span></a>
          </div>
        </div>
      </div>

      <!-- Epics Games -->
      <div class="col-span-1">
        <div class="flex items-center justify-around flex-col w-auto h-full rounded-2xl bg-white opacity-50 hover:opacity-80 transition-opacity p-4 cursor-pointer">
          <img class="w-9/12" src="{% static 'img/Epic.png' %}"/>
          <p class="text-center text-4xl">Epic Games</p>
          <div id="Epics" class="mt-6 flex flex-col space-y-0.5 text-lg hidden">
            <img src="{% static 'img/error404.png' %}" class="max-h-32">
            <a><i class="fa-solid fa-tag"></i> Title : <span></span></a>
            <a><i class="fa-solid fa-thumbs-up"></i> Opinion :<span></span> </a>
            <a><i class="fa-sharp fa-solid fa-money-bill"></i> Price : <span></span></a>
            <a><i class="fa-solid fa-location-dot"></i> Link : <span></span></a>
          </div>
        </div>
      </div>

      <!-- Gog -->
      <div class="col-span-1">
        <div class="flex items-center justify-around flex-col w-auto h-full rounded-2xl bg-white opacity-50 hover:opacity-80 transition-opacity p-4 cursor-pointer">
          <img class="w-9/12" src="{% static 'img/Gog.png' %}"/>
          <p class="text-center text-4xl">GOG</p>
          <div id="GOG" class="mt-6 flex flex-col space-y-0.5 text-lg hidden">
            <img src="{% static 'img/error404.png' %}" class="max-h-32">
            <a><i class="fa-solid fa-tag"></i> Title : <span></span></a>
            <a><i class="fa-solid fa-thumbs-up"></i> Opinion : <span></span></a>
            <a><i class="fa-sharp fa-solid fa-money-bill"></i> Price : <span></span></a>
            <a><i class="fa-solid fa-location-dot"></i> Link : <span></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="loadingpage" class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-70 hidden">
    <div class="flex items-center justify-center w-full h-full">
      <div class="flex items-center justify-center space-x-2 animate-pulse">
        <div class="w-8 h-8 bg-blue-400 rounded-full"></div>
        <div class="w-8 h-8 bg-green-400 rounded-full"></div>
        <div class="w-8 h-8 bg-red-400 rounded-full"></div>
      </div>
    </div>
  </div>

  <footer class="w-full p-2 text-center text-white">
    © Pierre & Thibault
  </footer>
  <script type="text/javascript" src="{% static 'script/index.js' %}"></script>
</body>
</html>